/* /* @import url("https://fonts.googleapis.com/css2?family=Sora&display=swap"); */
*/ .wrapper {
  width: 100%;
}
.container-info {
  background-color: #fff;
  width: 85%;
  height: 60%;
  margin: auto;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1.2fr 1.65fr;
  box-shadow: 0 5px 35px rgb(95 128 132 / 10%);
}
.container-info-img {
  justify-self: center;
  /* align-self: center; */
  width: 70%;
  height: 85%;
}
.container-info-img > img {
  width: 100%;
  height: 100%;
}
.description-total {
  /* justify-self: flex-start;
  align-self: center; */
  width: 80%;
  height: 75%;
  padding-top: 20px;
}

.links {
  display: flex;
  gap: 15px;
}
.links > a {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#a1 {
  background-color: #e41b1b;
}
#a2 {
  background-color: #ff9800;
}
.description-total-info {
  display: flex;
  gap: 2.5rem;
}

.left {
  padding: 20px 0px 20px 0px;
  flex: 0.6;
}

.list {
  margin-right: 6px;
  font-size: 12px;
  font-family: "Sora", sans-serif;
  color: #24304b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6px;
  border-bottom: 1px dashed #dce0e6;
  padding-bottom: 5px;
}

.right {
  flex: 1;
}
.right-contenido {
  color: #24304b;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  padding: 0 10px;
  letter-spacing: 0;
}

.btn-read-more-less {
  width: 100%;
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

.right-precio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-align: start;
  padding-left: 10px;
}

.precio-descuento {
  width: 10rem;
}

.price-detail {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
/* .right-precio .precio-descuento > p {
  text-decoration: line-through;
  color: grey;
} */
/* .precio-descuento > h3 {
  font-size: 20px;
  font-family: Sora-Bold;
  color: #09013d;
} */

.right-precio .ahorra {
  background: rgb(76 175 80/10%);
  color: #4caf50;
  text-transform: uppercase;
  font-family: Sora-Bold;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  width: max-content;
  border: 2px dashed rgb(76 175 80/30%);
  position: relative;
  padding: 10px 15px 10px 37px;
}
.ahorra::before {
  content: "";
  background-image: url(https://iberoperu.vteximg.com.br/arquivos/99-price-tag-empty-outline.gif);
  width: 30px;
  height: 34px;
  position: absolute;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  left: 5px;
  top: 0;
}
.ahorra > a {
  text-decoration: none;
  color: #4caf50;
  font: 12px;
  font-family: "Sora", sans-serif;
  font-weight: bold;
}
.comprar {
  padding-top: 20px;
  display: flex;
  text-align: center;
  gap: 40px;
}

.info-quantity--detail > span {
  display: inline-block;
  width: 32px;
}

.icon-increase--detail,
.icon-deacrease--detail {
  width: 32px;
  height: 32px;
}

.comprar-detail {
  display: flex;
  flex-wrap: wrap;
}

.comprar-detail-btn {
  border: none;
  background-color: #34daf0;
  border-radius: 10px;
  /* max-width: 70%; */
  padding: 0px 3rem;
  height: 2.5rem;
  margin: auto;
  cursor: pointer;
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 1.3rem;
  font-weight: bold;
  align-self: center;
}

.comprar-detail-btn:hover {
  transform: scale(1.1);
  transition: 0.4s ease all;
}

@media (max-width: 1024px) {
  .container-info {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .container-info-img {
    margin: 2rem 0rem;
    align-self: center;
  }

  .description-total {
    justify-self: flex-start;
    align-self: center;
  }

  .description-total-info {
    flex-direction: column;
    gap: 0rem;
  }

  .comprar-detail-btn {
    width: 100%;
  }
}
