.app-container-searchbox {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  height: 1.5rem;
  padding: 10px 0px 10px 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.app-container-searchbox > input {
  border: none;
  outline: none;
  min-width: 25rem;
}

.icon-search {
  position: absolute;
  right: 10px;
  min-width: 1rem;
  color: white;
  border-radius: 20%;
  align-self: center;
  padding: 4px;
  background-color: #505a70;
  cursor: pointer;
}
