.app-container-button {
  cursor: pointer;
  background-color: red;
}

.app-container-buttonLogin {
  margin-top: 30px;
}

.app-container-buttonLogin > button {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: #34daf0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
