.container-cards {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 10px;
    grid-gap: 60px 20px;
    border-radius: 15px;
}

.container-cards .card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease all;
}

.container-cards .card:hover {
    transform: scale(1.1);
    transition: 0.4s ease all;
}

.card .title-prevent {
    width: 80%;
    height: 8%;
    margin: auto;
    margin-bottom: 10px;
}
.title-prevent > a {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    background-color: #34daf0;
    text-align: center;
    color: white;
    min-width: 50%;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.card > img {
    object-fit: cover;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}
.card .description {
    margin-left: 12px;
    width: 80%;
    margin: auto;
}
.description > p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: -10px;
}
.description > h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card .card-bot {
    display: flex;
    width: 80%;
    height: 50px;
    margin: auto;
}

.card-bot .precio {
    width: 80%;
}

.price-before-discount {
    text-decoration: line-through;
    font-size: 16px;
    margin: 0;
}

.price {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}

.card-bot .descuento {
    width: 40%;
    height: 40;
    display: flex;
    justify-content: end;
    align-items: center;
}

.descuento > p {
    background-color: #e41b1b;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.container-button-order {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-button-order {
    width: 80%;
    height: 2.5rem;
    margin-bottom: 10px;
}

.button-order {
    border: none;
    background-color: #34daf0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    box-shadow: var(--box-shadow);
}

.button-order-hover {
    display: none;
}

.button-order > span {
    font-weight: bold;
    font-size: 1rem;
}

.button-order-hover > span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
}

.icon-cart-button {
    width: 1.5rem;
    height: 1.5rem;
}

.wrapper-button-order:hover .button-order {
    display: none;
}

.wrapper-button-order:hover .button-order-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
