.app-container-history {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.app-container-table {
  display: flex;
  width: 100%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
}

.app-container-history-searchbox{
  display: flex;
  width: 50%; 
  padding-left: 10%;
}

.app-container-history-searchbox> div {
  padding-left: 0;
}

.app-container-History-footer{
margin-top: 20px;

}

