.app-container-shopping-cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 100;
}

.wrapper-close-shopping-cart {
  position: fixed;
  width: 75%;
  height: 100vh;
}

.wrapper-shopping-cart {
  background-color: white;
  width: 25%;
  height: 100vh;
  padding: 0 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.shopping-cart-head {
  flex: 0.1;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.shopping-card-head-return {
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.shopping-cart-head > h1 {
  font-size: 1.2rem;
}

.shopping-cart-body {
  flex: 1;
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.shopping-cart-footer {
  flex: 0.3;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1.5rem;
  margin: auto;
}

.shopping-cart-footer-subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.shopping-cart-footer-discounts {
  font-size: 12px;
  font-weight: 300;
  padding: 0 15px;
}

.shopping-cart-footer-btn {
  border: none;
  background-color: #34daf0;
  border-radius: 10px;
  width: 90%;
  height: 2.5rem;
  cursor: pointer;
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 1.3rem;
  font-weight: bold;
  align-self: center;
}

.shopping-cart-footer-btn:hover {
  transform: scale(1.1);
  transition: 0.4s ease all;
}

@media (max-width: 1024px) {
  .wrapper-close-shopping-cart {
    display: none;
  }
  .wrapper-shopping-cart {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: static;
    padding: 0;
    border-radius: 0;
    transition: 0.5s ease all;
  }
}
