.app-container-navBar-header {
  width: 100vw;
  background-color: var(--primary-color);
}

.app-container-navBar {
  width: 80%;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.5fr;
  align-items: center;
  margin: 0 auto;
}

.app-container-navBar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.app-container-navBar-Logo > img {
  width: 15rem;
  height: 5rem;
}

.app-container-navBar > div {
  display: flex;
}

.app-container-navBar > div > label {
  cursor: pointer;
}

.app-container-navBar-user {
  cursor: pointer;
}

.app-container-navBar-user,
.app-container-navBar-history,
.app-container-navBar-cart {
  display: flex;
  align-items: center;
  margin: 5px;
}

.app-container-navBar-user > p,
.app-container-navBar-history > p,
.app-container-navBar-cart > p {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.icon {
  color: var(--color-icon);
  width: 2.5rem;
  height: 2.5rem;
}
