.app-container-cart-item {
    width: 100%;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 10px;
    padding: 0 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
}

.cart-item-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: "cover";
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.cart-item-info > h1 {
    font-size: 12px;
    font-weight: normal;
}

.cart-item-prices {
    display: flex;
    justify-content: space-between;
}

.cart-item-price-unique {
    font-size: 12px;
}

.cart-item-price-subtotal {
    font-size: 18px;
    font-weight: bold;
}

.cart-item-info-quantity {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.cart-item-icon-deacrease {
    color: orange;
    cursor: pointer;
}

.cart-item-icon-increase {
    color: #4caf50;
    cursor: pointer;
}

.cart-item-btn-delete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-item-icon-deacrease:hover,
.cart-item-icon-increase:hover,
.cart-item-btn-delete:hover {
    transform: scale(1.3);
    transform: 0.4s all ease;
}

.icon-delete-item {
    width: 100%;
    height: 1.5rem;
    color: #f44336;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .wrapper-grid {
        border-radius: 10px;
        padding: 10px;
    }

    .cart-item-prices {
        justify-content: flex-start;
        gap: 5rem;
    }
}
