.app-container-addBook {
    width: 100%;
    margin-bottom: 2rem;
}

.wrapper-addBookForm {
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-addBookForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: hidden;
    position: relative;
}

.form-addBook {
    width: 100%;
}

.header-addBookForm > h2 {
    font-weight: 500;
    letter-spacing: 1px;
}

.goBackTo {
    position: absolute;
    left: 0px;
    margin-top: 10px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.header-addBookForm-desc {
    margin-top: 10px;
}
.body-addBookForm-form {
    width: 100%;
    height: 100%;
}

.wrapper-details-general,
.wrapper-details-pyshical,
.wrapper-details-selling {
    width: 80%;
    margin: auto;
}

.body-addBook-details-book-img {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__group--file {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cointainer-preview-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cointainer-preview-img > button {
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #cc3300;
    color: white;
    cursor: pointer;
}

.img-addBook {
    max-width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

.form__field--file {
    display: none;
}

.form__group--file {
    width: 100%;
}

.form__label--file {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    padding: 150px 0px;
    cursor: pointer;
    text-align: center;
}

.form__label--file-selected {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    text-align: center;
    padding: 6px 0px;
    cursor: pointer;
}

.form__label--file-selected > svg {
    width: 2rem;
    height: 2rem;
}

.form__label--file > svg {
    width: 4rem;
    height: 4rem;
}

.form__label--file-selected:hover,
.cointainer-preview-img > button:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
}

.body-addBook-details-book-about {
    width: 100%;
}

.body-addBook-details-book-general {
    display: flex;
    margin: auto;
    gap: 2rem;
}

.body-addBook-details-book-grid,
.body-addBook-details-book-physical,
.body-addBook-details-book-selling {
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    gap: 20px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 3px;
    resize: none;
    font-size: 20px;
    line-height: 24px;
    overflow: auto;
    height: 10rem;
    padding: 8px;

    box-shadow: 0px 4px 10px -8px black;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.btn-add-book {
    border: none;
    background-color: #34daf0;
    border-radius: 10px;
    width: 20%;
    height: 80%;
    padding: 10px;
    cursor: pointer;
    color: white;
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 2rem auto;
}

.btn-add-book:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
}

@media (max-width: 1200px) {
    .body-addBook-details-book-general {
        flex-wrap: wrap;
    }
}
