/* Footer */
.app-main-container-footer {
  width: 100vw;
  background-color: #f2f2f2;
}

.app-container-footer {
  width: 80%;
  padding: 50px 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: auto;
}

.partFooter {
  width: 100%;
  align-items: center;
  text-align: center;
}

.partFooter-img1 > img {
  object-fit: cover;
  width: 100%;
}

.partFooter h4 {
  color: #1d273b;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.i-copyright {
  color: black;
  width: 24px;
  height: 24px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: black;
  transition: 0.2s ease all;
}

.icon-sm {
  margin: 10px;
  width: 24px;
  height: 24px;
}
