@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f4f6f8;
  --color-icon: rgb(75 205 223);
  --box-shadow: 0 10px 20px -8px rgb(17 119 133 / 8%);
}

* {
  font-family: "Roboto", sans-serif;
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f8;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
