.app-container-home-admin {
    width: 100%;
}

.wrapper-home-admin {
    width: 80%;
    margin: auto;
}

.container-manage-books,
.container-manage-users {
    margin-bottom: 2.5rem;
}

.wrapper-home-admin-header,
.container-manage-books-header,
.container-manage-users-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.container-manage-books-header > h3,
.container-manage-users-header > h3 {
    font-weight: 700;
}

.container-manage-books-header > svg {
    width: 2rem;
    height: 2rem;
    color: teal;
}

.container-manage-users-header > svg {
    width: 2rem;
    height: 2rem;
    color: teal;
}
.btns-manage-add {
    text-decoration: none;
    background-color: #34daf0;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
}

.table-container {
    height: 24rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 2rem;
    padding: 0 2rem 0 2rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table thead th {
    position: sticky;
    top: 0;
    background: white;
    height: 2.8rem;
}

table tbody tr td {
    height: 2.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
}

.wrapper-btns-manage {
    width: 10rem;
}
.btns-manage {
    display: flex;
    width: 15rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btns-manage li {
    list-style: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    color: white;
}

.btns-manage li:hover,
.btns-manage-add:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
}

.btns-manage-edit {
    background-color: orange;
}

.btns-manage-detail {
    background-color: #4caf50;
}

.btns-manage-delete {
    background-color: #f44336;
}
